.bg-black {
    background-color: #000000;
    color: #ffffff;
}

.bg-black a {
    color: #ffffff;
}

.bg-black a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px #09d568; 
}

#sec-01 {
    background-image: url('../img/back.jpg');
    min-height: 90vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.bg-black-2 {
    background-color: rgba(10, 10, 10, 0.6); 
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-yellow {
    color: #09d568; 
}
.btn-yellow,.bg-yellow {

    background-color: #09d568;
    color: #000;

}
.btn-yellow:hover {
    background-color: #000;
    color: #09d568;
    border-color: #09d568;
}

hr {
    border: 3px solid #09d568; 
    opacity: 1;                
    width: 40%;                
}

#sec02 {

    background-image: url(../img/jjjak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}